---
import Container from "../base/Container.astro";
import MobileMenu from "./MobileMenu.astro";
import { primaryNav } from "../../data/navigation";

const pathname = Astro.url.pathname.replace(/\/+$/, "") || "/";

const isActive = (href: string) => {
  const normalizedHref = href.replace(/\/+$/, "") || "/";
  return pathname === normalizedHref;
};
---

<header class="site-header">
  <Container class="site-header__inner">
    <a href="/" class="site-header__brand" aria-label="Lookout West home">
      Lookout West
    </a>

    <div class="site-header__desktop">
      <nav class="site-header__nav site-header__nav--desktop" aria-label="Primary">
        <ul>
          {primaryNav.map((item) => (
            <li>
              <a
                href={item.href}
                aria-current={isActive(item.href) ? "page" : undefined}
              >
                {item.label}
              </a>
            </li>
          ))}
        </ul>
      </nav>

      <button
        type="button"
        class="site-header__subscribe-button"
        data-subscribe-open
      >
        Subscribe
      </button>
    </div>

    <div class="site-header__mobile">
      <button
        type="button"
        class="site-header__subscribe-button site-header__subscribe-button--mobile"
        data-subscribe-open
      >
        Subscribe
      </button>

      <MobileMenu currentPath={pathname} />
    </div>
  </Container>
</header>
